# make one like so https://docs.langflow.org/api-keys-and-authentication#langflow-secret-key
LANGFLOW_SECRET_KEY=
# flow id from the the openrag flow json
FLOW_ID=1098eea1-6649-4e1d-aed1-b77249fb8dd0
# must match the hashed password in secureconfig, must change for secure deployment!!!
OPENSEARCH_PASSWORD=OSisgendb1!
# make here https://console.cloud.google.com/apis/credentials 
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
# Optional dns routable from google (etc.) to handle continous ingest (ngrok works)
WEBHOOK_BASE_URL=
OPENAI_API_KEY=
